/.vscode
/Cpp_practice
/Electromagnetism
/High-Energy_Heavy-Ion_Collisions
/MTF
/ModernPhysics
/Numerical_Recipies_via_C
/Opticalexperiment2
/Pointer_Practice.cpp
/Reffit
/Ridge2_phi.csv
/Structure1.cpp
/Structure2.cpp
/bin
/deviation.csv
/lib
/membrane_optics
/mingw-std-threads-master
/python_example
/pyvenv.cfg
/results
/수치해석19장_2019_s.pdf